extends layout1

block header
  +showHeader(menuLinks, activeMenu,
    'Buy & Sell Furnitures Securely',
    'Find The Best Furniture For You or Your Business'
  )

block content
  section(class="bg-dark-gray fl w-100 pa4 avenir")
    div(class="fl w-50 pa3 tc")
      p(class="f1 tr")
        span(class="white") List your furniture on our 
        span(class="orange fw9") premium furniture 
        span(class="white") marketplace
    div(class="fl w-50 pa3")
      p(class="f4 lr")
        span(class="orange") #{__sitename} is the Premier Web furniture Broker. 
        span(class="white f5") Search thousands of premium furniture to find the right furniture to represent you or your company.
        br 
        a(href="search/advanced" class="f5 link hover-gold orange") Start Your Search
      
      p(class="f4 lr")
        span(class="orange") List your furniture For Sale For FREE&excl; 
        span(class="white f5") Our Premium Services to you guarantee secure transfer and payment of furniture, so you and the buyer are secure.
        br 
        a(href="register" class="f5 link hover-gold orange") Create Free Account

  div(class="cf")
  section
    div(class="pa3 ph5-ns")
      div(class="fl w-70 ph4")
        div(class="pa3 bg-near-white bt bl br b--black-20")
          div(class="fl w-90")
            span(class="b f3") Showcase
          div(class="fl w-10 pv2")
            a(href='category/showcase' class="link orange hover-gold ttu b" title="View All") View All
          div(class="cf")  
        div(class="cf")
        
        div(class="fl w-50")
          div(class="showcase-left ba b--black-20")
            ul(class="list pa0 ma0 w-100")
              each categorySL in categoriesShortLength
                li(class="bb b--black-20 pa3")
                  div(class="fl w-75")
                    a(href='category/'+categorySL.id class="link orange hover-gold f4" title=categorySL.name) #{categorySL.name}
                  div(class="fl w-25")
                    a(href='furnitures/' class="link white hover-gold bg-purple pa1 ph2 br4 f7" title="All Categories") Make Offer
                  div(class="cf")  
              else
                li Nothing to display.
                
        div(class="fl w-50")
          div(class="showcase-right ba b--black-20")
            ul(class="list pa0 ma0 w-100")
              each categorySL in categoriesShortLength
                li(class="bb b--black-20 pa3")
                  div(class="fl w-75")
                    a(href='category/'+categorySL.id class="link orange hover-gold f4" title=categorySL.name) #{categorySL.name}
                  div(class="fl w-25")
                    a(href='furnitures/' class="link white hover-gold bg-purple pa1 ph2 br4 f7" title="All Categories") Make Offer
                  div(class="cf")  
              else
                li Nothing to display.
        
      div(class="fl w-30 pa0")
        div(class="pa3 bg-near-white bt bl br b--black-20")
          div(class="fl w-75")
            span(class="b f3") Short Length
          div(class="fl w-25 pv2")
            a(href='category/short-length' class="link orange hover-gold ttu b" title="View All") View All
          div(class="cf")  
        div(class="cf")
        div(class="short-length-ticker ba b--black-20")
          ul(class="list pa0 ma0 w-100")
            each categorySL in categoriesShortLength
              li(class="bb b--black-20 pa3")
                div(class="fl w-75")
                  a(href='category/'+categorySL.id class="link orange hover-gold f4" title=categorySL.name) #{categorySL.name}
                div(class="fl w-25")
                  a(href='furnitures/' class="link white hover-gold bg-purple pa1 ph2 br4 f7" title="All Categories") Make Offer
                div(class="cf")  
            else
              li Nothing to display.
      
      div(class="cf") 

  div(class="cf")
  section(class="cover bg-left bg-center-l" style="background-image: url(images/stat-bg-min.jpg);")
    div(class="tc pa3")
      div(class="pt4")
        span(class="f2 white b") furniture
        span(class="f2 white") Stats
      div(class="center w-10 bt b--white-90 pb3")
        div(class="mt2 center w-50 bt b--white-90")
      
      div(class="flex")
        div(class="pa3 mh2 w-50")
          div(class="flex w-100 mb3")
            div(class="tr pa3 w-70 white f5")
              h2(class="orange") 82&percnt; of Top furniture Sold 
              p According to bio in 2016, 82&percnt; of Top furniture Sales were 
                span(class="orange") .com&excl; 
                | The value in .com furniture are quite evident year after year. 
                | furniture are an investment for life for you or your business.
              
            div(class="ml2 w-30")
              svg(xmlns="http://www.w3.org/2000/svg" version="1.1" 
                baseProfile="full" width="180" height="170")
                path(fill="transparent" stroke="#ffffff" stroke-width="10" 
                  d="M 84.98370614370438 5.000001659310968 A 80 80 0 1 1 84.88888160495428 5.000077170647955 Z")
                path(fill="transparent" stroke="#f57e00" stroke-width="10" 
                  d="M 84.98370614370438 5.000001659310968 A 80 80 0 1 1 12.565688841629623 51.04016244131339 ")
                text(class="" x="85" y="110" text-anchor="middle" font-size="60"
                  font-weight="normal" fill="white") 82&percnt;
            
          div(class="flex w-100")
            div(class="tr pa1 w-70 white f5")
              h2(class="orange") Two or Three Words 
              p According to bio in 2016, 75&percnt; of Top furniture Sales were 
                span(class="orange") .com&excl; 
                | The value in .com furniture are quite evident year after year. 
                | furniture are an investment for life for you or your business.
              
            div(class="ml2 w-30")
              svg(xmlns="http://www.w3.org/2000/svg" version="1.1" 
                baseProfile="full" width="180" height="170")
                path(fill="transparent" stroke="#ffffff" stroke-width="10" 
                  d="M 84.98370614370438 5.000001659310968 A 80 80 0 1 1 84.88888160495428 5.000077170647955 Z")
                path(fill="transparent" stroke="#f57e00" stroke-width="10" 
                  d="M 84.98370614370438 5.000001659310968 A 80 80 0 1 1 5.000014049530691 85.04741228440795 ")
                text(class="" x="85" y="110" text-anchor="middle" font-size="60"
                  font-weight="normal" fill="white") 75&percnt;
          
        div(class="pa3 mh2 w-50")
          div(class="flex w-100 mb3")
            div(class="ml2 w-30")
              svg(xmlns="http://www.w3.org/2000/svg" version="1.1" 
                baseProfile="full" width="180" height="170")
                path(fill="transparent" stroke="#ffffff" stroke-width="10" 
                  d="M 84.98370614370438 5.000001659310968 A 80 80 0 1 1 84.88888160495428 5.000077170647955 Z")
                path(fill="transparent" stroke="#f57e00" stroke-width="10" 
                  d="M 84.98370614370438 5.000001659310968 A 80 80 0 1 1 12.565688841629623 51.04016244131339 ")
                text(class="" x="85" y="110" text-anchor="middle" font-size="60"
                  font-weight="normal" fill="white") 82&percnt;
            
            div(class="tl pa3 w-70 white f5")
              h2(class="orange") 82&percnt; of Top furniture Sold 
              p According to bio in 2016, 82&percnt; of Top furniture Sales were 
                span(class="orange") .com&excl; 
                | The value in .com furniture are quite evident year after year. 
                | furniture are an investment for life for you or your business.
            
            
          div(class="flex w-100")
            div(class="ml2 w-30")
              svg(xmlns="http://www.w3.org/2000/svg" version="1.1" 
                baseProfile="full" width="180" height="170")
                path(fill="transparent" stroke="#ffffff" stroke-width="10" 
                  d="M 84.98370614370438 5.000001659310968 A 80 80 0 1 1 84.88888160495428 5.000077170647955 Z")
                path(fill="transparent" stroke="#f57e00" stroke-width="10" 
                  d="M 84.98370614370438 5.000001659310968 A 80 80 0 1 1 5.000014049530691 85.04741228440795 ")
                text(class="" x="85" y="110" text-anchor="middle" font-size="60"
                  font-weight="normal" fill="white") 75&percnt;

            div(class="tl pa1 w-70 white f5")
              h2(class="orange") Two or Three Words 
              p According to bio in 2016, 75&percnt; of Top furniture Sales were 
                span(class="orange") .com&excl; 
                | The value in .com furniture are quite evident year after year. 
                | furniture are an investment for life for you or your business.

  div(class="cf")
  section
    div(class="tc pa3 ph5-ns")
      div(class="pt4 mb2")
        span(class="f2 b") Categories
      div(class="center w-10 bt b--black-50 pb0")
        div(class="mt1 center w-50 bt b--black-50")
          
      div(class="mw9 center ph3-ns")
        div(class="cf ph2-ns tl")
          div(class="fl w-100 w-20-ns pa2")
            +showFooterCategories(categoriesList.slice(0, 9))
          div(class="fl w-100 w-20-ns pa2")
            +showFooterCategories(categoriesList.slice(10, 19))
          div(class="fl w-100 w-20-ns pa2")
            +showFooterCategories(categoriesList.slice(20, 29))
          div(class="fl w-100 w-20-ns pa2")
            +showFooterCategories(categoriesList.slice(30, 39))
          div(class="fl w-100 w-20-ns pa2")
            +showFooterCategories(categoriesList.slice(40, 49))
          
      div(class="pa3")
        a(href='category/' class="link white hover-gold bg-purple pa3 ph4 br2 f5 ttu b" title="All Categories") Show More Categories 

block footer-container
  script(src="javascripts/external/jquery.easy-ticker.min.js")
  script(src="javascripts/for-index.js")