extends layout1

block header
  +showHeader(menuLinks, activeMenu,
    'Buy & Sell Domains Securely',
    'Find The Best Domain Name For You or Your Business'
  )

block content
  section(class="bg-dark-gray fl w-100 pa4 avenir")
    div(class="fl w-50 pa3 tc")
      p(class="f1 tr")
        span(class="white") List your domain on our 
        span(class="orange fw9") premium domain 
        span(class="white") marketplace
    div(class="fl w-50 pa3")
      p(class="f4 lr")
        span(class="orange") #{__sitename} is the Premier Web Domain Broker. 
        span(class="white f5") Search thousands of premium domain names to find the right domain to represent you or your company.
        br 
        a(href="search/advanced" class="f5 link hover-gold orange") Start Your Search
      
      p(class="f4 lr")
        span(class="orange") List your Domain Names For Sale For FREE&excl; 
        span(class="white f5") Our Premium Services to you guarantee secure transfer and payment of domain names, so you and the buyer are secure.
        br 
        a(href="register" class="f5 link hover-gold orange") Create Free Account
  
  div(class="cf")
  section(class="cover bg-left bg-center-l" style="background-image: url(images/stat-bg-min.jpg);")
    div(class="tc pa3")
      div(class="pt4")
        span(class="f2 white b") Domain
        span(class="f2 white") Stats
      div(class="center w-10 bt b--white-90 pb3")
        div(class="mt2 center w-50 bt b--white-90")
      
      div(class="flex")
        div(class="pa3 mh2 w-50")
          div(class="flex w-100 mb3")
            div(class="tr pa3 w-70 white f5")
              h2(class="orange") 82&percnt; of Top Domain Sold 
              p According to Namebio in 2016, 82&percnt; of Top Domain Sales were 
                span(class="orange") .com&excl; 
                | The value in .com domain names are quite evident year after year. 
                | Domain Names are an investment for life for you or your business.
              
            div(class="ml2 w-30")
              svg(xmlns="http://www.w3.org/2000/svg" version="1.1" 
                baseProfile="full" width="180" height="170")
                path(fill="transparent" stroke="#ffffff" stroke-width="10" 
                  d="M 84.98370614370438 5.000001659310968 A 80 80 0 1 1 84.88888160495428 5.000077170647955 Z")
                path(fill="transparent" stroke="#f57e00" stroke-width="10" 
                  d="M 84.98370614370438 5.000001659310968 A 80 80 0 1 1 12.565688841629623 51.04016244131339 ")
                text(class="" x="85" y="110" text-anchor="middle" font-size="60"
                  font-weight="normal" fill="white") 82&percnt;
            
          div(class="flex w-100")
            div(class="tr pa1 w-70 white f5")
              h2(class="orange") Two or Three Words 
              p According to Namebio in 2016, 75&percnt; of Top Domain Sales were 
                span(class="orange") .com&excl; 
                | The value in .com domain names are quite evident year after year. 
                | Domain Names are an investment for life for you or your business.
              
            div(class="ml2 w-30")
              svg(xmlns="http://www.w3.org/2000/svg" version="1.1" 
                baseProfile="full" width="180" height="170")
                path(fill="transparent" stroke="#ffffff" stroke-width="10" 
                  d="M 84.98370614370438 5.000001659310968 A 80 80 0 1 1 84.88888160495428 5.000077170647955 Z")
                path(fill="transparent" stroke="#f57e00" stroke-width="10" 
                  d="M 84.98370614370438 5.000001659310968 A 80 80 0 1 1 5.000014049530691 85.04741228440795 ")
                text(class="" x="85" y="110" text-anchor="middle" font-size="60"
                  font-weight="normal" fill="white") 75&percnt;
          
        div(class="pa3 mh2 w-50")
          div(class="flex w-100 mb3")
            div(class="ml2 w-30")
              svg(xmlns="http://www.w3.org/2000/svg" version="1.1" 
                baseProfile="full" width="180" height="170")
                path(fill="transparent" stroke="#ffffff" stroke-width="10" 
                  d="M 84.98370614370438 5.000001659310968 A 80 80 0 1 1 84.88888160495428 5.000077170647955 Z")
                path(fill="transparent" stroke="#f57e00" stroke-width="10" 
                  d="M 84.98370614370438 5.000001659310968 A 80 80 0 1 1 12.565688841629623 51.04016244131339 ")
                text(class="" x="85" y="110" text-anchor="middle" font-size="60"
                  font-weight="normal" fill="white") 82&percnt;
            
            div(class="tl pa3 w-70 white f5")
              h2(class="orange") 82&percnt; of Top Domain Sold 
              p According to Namebio in 2016, 82&percnt; of Top Domain Sales were 
                span(class="orange") .com&excl; 
                | The value in .com domain names are quite evident year after year. 
                | Domain Names are an investment for life for you or your business.
            
            
          div(class="flex w-100")
            div(class="ml2 w-30")
              svg(xmlns="http://www.w3.org/2000/svg" version="1.1" 
                baseProfile="full" width="180" height="170")
                path(fill="transparent" stroke="#ffffff" stroke-width="10" 
                  d="M 84.98370614370438 5.000001659310968 A 80 80 0 1 1 84.88888160495428 5.000077170647955 Z")
                path(fill="transparent" stroke="#f57e00" stroke-width="10" 
                  d="M 84.98370614370438 5.000001659310968 A 80 80 0 1 1 5.000014049530691 85.04741228440795 ")
                text(class="" x="85" y="110" text-anchor="middle" font-size="60"
                  font-weight="normal" fill="white") 75&percnt;

            div(class="tl pa1 w-70 white f5")
              h2(class="orange") Two or Three Words 
              p According to Namebio in 2016, 75&percnt; of Top Domain Sales were 
                span(class="orange") .com&excl; 
                | The value in .com domain names are quite evident year after year. 
                | Domain Names are an investment for life for you or your business.

  div(class="cf")
  section(class="")
    div(class="tc pa3")
      div(class="pt4 mb2")
        span(class="f2 b") Categories
      div(class="center w-10 bt b--black-50 pb0")
        div(class="mt1 center w-50 bt b--black-50")
          
      div(class="mw9 center ph3-ns")
        div(class="cf ph2-ns tl")
          div(class="fl w-100 w-20-ns pa2")
            +showFooterCategories(categoriesList.slice(0, 9))
          div(class="fl w-100 w-20-ns pa2")
            +showFooterCategories(categoriesList.slice(10, 19))
          div(class="fl w-100 w-20-ns pa2")
            +showFooterCategories(categoriesList.slice(20, 29))
          div(class="fl w-100 w-20-ns pa2")
            +showFooterCategories(categoriesList.slice(30, 39))
          div(class="fl w-100 w-20-ns pa2")
            +showFooterCategories(categoriesList.slice(40, 49))
          
        
    
block footer-container
  h3= "i am in footer"